<div id="article-banner">
  <h2>Archives</h2>
  <p class="post-date">文章归档</p>
</div>
<main class="app-body" id="archives">
  <% let years = {}; %>
  <%
    site.posts.each(post => {
      const y = post.date.year();
      if (!years[y]) {
        years[y] = [];
      }
      years[y].push(post);
    })
  %>
  <% for (let year of Object.keys(years).reverse()) { %>
    <%- partial('_partial/archive', { year: year, posts: years[year].reverse() }) %>
  <% } %>
</main>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header');
  })();
</script>