<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header') %>
    <main class="app-body">
      <%- body %>
    </main>
    <%- partial('_partial/footer') %>
  </body>
</html>