<div id="article-banner">
  <h2>Projects</h2>
  <p class="post-date">个人开源项目</p>
</div>
<main class="app-body project-app">
  <div class="card-container" id="all-project">
    <section class="project-card">
      <a class="card-wrap">
        <div class="card-header"></div>
        <h3 class="card-title">hexo-theme-vexo</h3>
        <p class="card-description">🍟 Vexo is a Hexo theme inspired by Vue's official website.</p>
        <div class="card-footer">
          <i class="fa fa-star"></i>
          <i class="fa fa-code-fork"></i>
          <i class="fa fa-clock-o"></i>
        </div>
      </a>
    </section>
    <section class="project-card">
      <a class="card-wrap"></a>
    </section>
    <section class="project-card">
      <a class="card-wrap"></a>
    </section>
  </div>
</main>
<script>
  (function() {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header')
    $.ajax({
      headers: {
        Accept: 'application/vnd.github.v3.raw'
      },
      type: 'get',
      url: 'https://api.github.com/users/<%= config.github_username %>/repos',
      success: function (data) {
        var repos = data.sort(function(a, b) {
          return (b.stargazers_count - a.stargazers_count)
        }).slice(0, 6)
        console.log(repos)
        var cardHtml = repos.map(function(item) {
          return (
            '<section class="project-card">' + 
              '<a class="card-wrap">' +
                '<div class="card-header"></div>' +
                '<h3 class="card-title">' + item.name + '</h3>' +
                '<p class="card-description">' + item.description + '</p>' +
                '<div class="card-footer">' +
                  '<i class="fa fa-star"></i>' +
                  '<i class="fa fa-code-fork"></i>' +
                  '<i class="fa fa-clock-o"></i>' +
                '</div>' +
              '</a>' +
            '</section>'
          )
        }).join('')
        $('#all-project').html(cardHtml)
      }
    });
  })()
</script>