<div id="article-banner">
  <h2>Projects</h2>
  <p class="post-date">开源项目</p>
</div>
<main class="app-body project-app">
  <div class="card-container" id="all-project"></div>
</main>
<script>
  (function() {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header')
    $.ajax({
      headers: {
        Accept: 'application/vnd.github.v3.raw'
      },
      type: 'get',
      url: 'https://api.github.com/users/<%= theme.about.github_username %>/repos',
      success: function (data) {
        var repos = data.sort(function(a, b) {
          return (b.stargazers_count - a.stargazers_count)
        }).slice(0, 6)
        var cardHtml = repos.map(function(item) {
          var description = item.description || ""
          if (description.replace(/[\u0391-\uFFE5]/g, "aa").length > 72) {
            description = description.slice(0, 72) + '...'
          }
          return (
            '<section class="project-card">' + 
              '<a class="card-wrap" href="'+ item.html_url +'" target="_blank">' +
                '<div class="card-header" data-name="'+ item.name +'"></div>' +
                '<h3 class="card-title">' + item.name + '</h3>' +
                '<p class="card-description">' + description + '</p>' +
                '<div class="card-footer">' +
                  '<span><i class="fa fa-star"></i>'+ item.stargazers_count +'</span>' +
                  '<span><i class="fa fa-code-fork"></i>' + item.forks_count +'</span>' +
                '</div>' +
              '</a>' +
            '</section>'
          )
        }).join('')
        $('#all-project').html(cardHtml)
        $('.card-header').each(function() {
          var name = $(this).data('name');
          $(this).geopattern(name);
        })
      }
    });
  })()
</script>