// colors
color-primary = #42b983
color-border = #dddddd
color-white = #ffffff
color-background = #f8f8f8
color-orange = #e96900
color-dark = #34495e

// images
logo-url = "images/logo.png"
menu-url = "images/menu.png"

m-mobile = "screen and (max-width: 480px)"