// colors
color-primary = #42b983
color-border = #e5e5e5
color-white = #ffffff
color-background = #f8f8f8
color-orange = #e96900
color-dark = #34495e
color-gray = #7f8c8d
color-shadow = #e3e3e3
// images
logo-url = "images/logo.png"
menu-url = "images/menu.png"
arrow-url = "images/top.png"
catalog-url = "images/catalog.png"
alipay-url = "images/alipay.jpg"
wechat-url = "images/wechat.jpg"
avatar-url = "images/avatar.png"
escheres-url = "images/escheres.png"

m-mobile = "screen and (max-width: 480px)"
m-pad = "screen and (max-width: 960px)"