<aside class="catalog-container">
  <div class="toc-main">
    <strong class="toc-title">Catalog</strong>
    <% if (toc(page.content) !== ""){ %>
      <%- toc(page.content, { "class": "toc-nav", "list_number": false }) %>
    <% } else { %>
      <ol class="nav"><%= __('none') %></ol>
    <% } %>
  </div>
</aside>