<div class="guide-pager">
  <% if (page.prev) { %>
    <a href="<%- url_for(page.prev_link) %>"><span class="page-arrow">← </span>Prev</a>
  <% } else { %>
    <a class="unvisible" href="<%- url_for(page.prev_link) %>"><span class="page-arrow">←</span> Prev</a>
  <% } %>
  <% if (page.next) { %>
    <a href="<%- url_for(page.next_link) %>">Next<span class="page-arrow"> →</span></a>
  <% } else { %>
    <a class="unvisible" href="<%- url_for(page.next_link) %>">Next <span class="page-arrow">→</span></a>
  <% } %>
</div>