.catalog-container
  display: block
  margin-left: 20px
  flex-basis: 280px
  -webkit-flex-basis: 280px
  flex-shrink: 0
  -webkit-flex-shrink: 0
  @media m-pad
    display: none
  .fixed-toc
    position: fixed
    top: 90px
  .toc-main
    padding-left: 20px
    border-left: 1px solid color-border
    width: 280px
    box-sizing: border-box
    .toc-title
      font-size: 1.2em
      position: relative
      padding-left: 28px
      &:before
        content: ''
        position: absolute
        width: 22px
        height: 22px
        left: 0
        top: 2px
        background: url(catalog-url) no-repeat
        background-size: contain
    .toc-nav
      padding: 0
      margin-top: 1em
      overflow-y: scroll
      max-height: 480px
      &::-webkit-scrollbar
        display: none
    ol
      padding-left: 20px
    li
      list-style-type: none
      line-height: 1.5