.app-footer
  padding: 1em 0
  margin: 0 auto
  max-width: 850px
  border-top: 1px solid color-border
  background-color: color-white
  text-align: center
  font-size: 0.9em

.copyright
  color: color-gray
  line-height: 1.5