.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  background: color-white
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25)
  transition: background-color 0.3s ease-in-out
  z-index: 200

.header-container
  max-width: 1200px
  height: 40px
  margin: 0 auto;
  padding: 10px 60px
  position: relative
  @media m-mobile
    padding: 10px 20px
    position: relative

.logo
  background: url(logo-url)
  background-size: contain
  width: 40px
  height: 40px
  margin-right: 10px

.home-link
  display: flex
  align-items: center
  float: left
  font-weight: 600

.right-list
  list-style: none
  float: right
  padding: 0
  @media m-mobile
    display: none

.list-item
  display: inline-block
  margin: 0 8px

.item-link
  height: 40px
  line-height: 40px
  text-decoration: none
  color: color-dark
  padding-bottom: 3px

.item-link
  &:hover
    border-bottom: 3px solid color-primary

.active
  border-bottom: 3px solid color-primary

.menu
  display: none
  float: right
  width: 24px
  height: 24px
  margin-top: 8px
  background: url(menu-url)
  background-size: contain
  @media m-mobile
    display: block

.menu-mask
  display: none
  position: fixed
  left: 0
  top: 60px
  z-index: 99
  width: 100%
  overflow: hidden
  max-height: 0
  background: #ffffff
  -webkit-transition: max-height .4s ease
  transition: max-height .4s ease
  @media m-mobile
    display: block

.open
  max-height: 300px
  transition-delay: 0s

.menu-list
  padding: 0

.menu-item
  position: relative
  list-style: none
  text-align: center
  padding: 10px 0
  &:after
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-bottom: 1px solid color-border
    -webkit-transform: scaleY(0.5)
    transform: scaleY(0.5)

.menu-link
  text-decoration: none
  color: color-gray

.mobile-active
  color: color-primary