.markdown-content
  overflow: auto
  p
    line-height: 1.6em
  h1
    font-size: 1.6em
  h2
    font-size: 1.4em
  h3
    margin: 1em 0 .8em
    font-size: 1.3em
    padding-bottom: .3em
    border-bottom: 1px solid color-border
  h4
    margin: 1em 0 .8em
    font-size: 1.2em
    &:before
      content: "#";
      color: color-primary
      margin-right: 5px
      font-size: 1.2em
      font-weight: 700
  blockquote
    margin: 1em 0
    padding:  15px 20px
    border-left: 4px solid color-primary
    background: color-background
  ul
    overflow: auto
    margin: 20px 0
  img
    width: 100%
    max-width: 500px
    display: block
    margin: 20px auto
  strong
    color: color-primary
  figure
    background: color-background
    padding: 0 10px
    border-radius: 4px
    font-size: 13px
    margin: 20px 0
    overflow: auto