.markdown-content
  overflow: auto
  pre, code
    font-family: 'Roboto Mono', Monaco, courier, monospace
    font-size: 0.8em
  p
    line-height: 1.6em
    code
      background-color: #f8f8f8
      color: #e96900
      padding: 3px 5px
      margin: 0 2px
      border-radius: 2px
      white-space: nowrap
  h1
    font-size: 1.6em
  h2
    font-size: 1.4em
  h3
    margin: 1em 0
    font-size: 1.3em
    padding-bottom: .3em
    border-bottom: 1px solid color-border
  h4
    margin: 1em 0
    font-size: 1.2em
    &:before
      content: "#";
      color: color-primary
      margin-right: 5px
      font-size: 1.2em
      font-weight: 700
  h5
    font-size: 1em
    margin: .8em 0
  blockquote
    margin: 1em 0
    padding:  15px 20px
    border-left: 4px solid color-primary
    background: color-background
  ul
    overflow: auto
    margin: 20px 0
  img
    max-width: 100%
    display: block
    margin: 20px auto
  strong
    color: color-primary
  figure
    background: color-background
    padding: 0 10px
    border-radius: 4px
    font-size: 13px
    margin: 20px 0
    overflow: auto
    position: relative
    &:after
      content: attr(data-lang)
      position: absolute
      top: 0
      right: 0
      color: #ccc
      text-align: right
      font-size: 0.7em
      padding: 5px 10px 0
      line-height: 15px
      height: 15px
      font-weight: 600