.nav-container
  width: 100%
  padding-top: 1.5em
  margin-top: 1.5em
  border-top: 1px dashed color-border
  font-weight: 600
  &:after, &:before
    content: ''
    display: table
    clear: both
  .nav-left
    float: left
  .nav-right
    float: right
  .nav-arrow
    color: color-dark
