#tag-cloud
  margin-top: 30px
  text-align: center
  a
    font-size: 14px
    border: none
    line-height: 28px
    margin: 0 4px
    margin-bottom: 8px
    background: color-shadow
    display: inline-block
    border-radius: 4px
    padding: 0 10px
    color: color-white
    transition: background .5s
    &:hover
      background: rgb(0, 133, 161)
  .tag0
    background: rgb(187, 187, 238)
  .tag1
    background: rgb(156, 178, 225)
  .tag2
    background-color: rgb(0, 133, 161)

.tag-list
  margin-left: 1em
  margin-right: 1em

.tag-name
  font-size: 1.3em
  position: relative
  &:before
    content: "#"
    color: color-primary
    position: absolute;
    left: -.7em
    top: -2px
    font-size: 1.2em
    font-weight: 700
    
.tag-preview
  font-size: 16px
  padding-left: 1em
  li
    cursor: pointer
    margin: 10px 0
