#tag-cloud
  margin-top: 30px
  text-align: center
  a
    font-size: 14px
    border: none
    line-height: 28px
    margin: 0 4px
    margin-bottom: 8px
    background: color-shadow
    display: inline-block
    border-radius: 4px
    padding: 0 10px
    color: #ffffff